<section class="phx-hero">
  <div class="product-container">
    <img src="https://m.media-amazon.com/images/I/81iaYubC5HL._AC_UL320_.jpg" height="200" width="200" />
    <%= button("Add to Cart", to: "/addtocart", method: :get, class: "btn") %>
  </div>
</section>
