<section class="phx-hero">
  <div class="product-container">
    <%= for product <- @products do %>
      <div class="product-item-cart">
        <h3><%= product["title"] %></h3>
        <p><%= product["value"] %>€</p>
      </div>
    <% end %>
    <%= button("Checkout", to: "/checkout", method: :get, class: "btn") %>
  </div>
</section>
